[Unit]
Description=Night/Day theme switch service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
StartLimitInterval=120s
StartLimitBurst=12

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true


# Add path to Sleepyboi executable here

ExecStart=
 
[Install]
WantedBy=timers.target