[Unit]
Description=Night/Day theme switch service
Requires=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
StartLimitInterval=120s
StartLimitBurst=12
StandardOutput=journal
StandardError=journal

# Add path to Sleepyboi executable here

ExecStart=
 
[Install]
WantedBy=timers.target